<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header flexrow">
    <img class="profile" src="{{actor.img}}" data-tooltip="{{actor.name}}" data-edit="img"/>

    <section class="header-details flexrow">
      {{> "LavenderHack.actor-warnings"}}

      <h1 class="charname">
        <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'LavenderHack.Name' }}"/>
      </h1>
    </section>
  </header>

  <section>
    {{!-- Ability Scores --}}
    <ul class="ability-scores flexrow">
      {{#each abilities as |ability id|}}
      <li class="ability" data-ability="{{id}}">
        <h4 class="ability-name box-title rollable">{{ability.label}}</h4>
        <input
            type="text"
            name="system.abilities.{{id}}.value"
            value="{{ability.value}}"
            class="ability-score"
            placeholder="10"
            data-dtype="Number"
            >
        <div class="ability-modifiers flexrow">
          <span class="ability-mod" data-tooltip="LavenderHack.Modifier">
            {{numberFormat ability.mod decimals=0 sign=true}}
          </span>
          <input type="hidden" name="system.abilities.{{id}}.proficient" value="{{ability.baseProf}}"
                                                                         data-dtype="Number"/>
          <a class="proficiency-toggle ability-proficiency" data-tooltip="LavenderHack.Proficiency">
            {{{ability.icon}}}
          </a>
          <span class="ability-save" data-tooltip="LavenderHack.SavingThrow">
            {{numberFormat ability.save decimals=0 sign=true}}
          </span>
        </div>
        <a class="config-button" data-action="ability" data-tooltip="LavenderHack.AbilityConfigure">
          <i class="fas fa-cog"></i>
        </a>
      </li>
      {{/each}}
    </ul>
  </section>
</form>
